$myFont: Helvetica, sans-serif;
$myColor: black;
$myFontSize: 18px;
$myWidth: 680px;
$myDisplay:inline;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#container {
  width: $myWidth;
}    